@model HomeViewModel

<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center my-4">
            <h2 class="animate__animated animate__fadeInDown">Bem-vindo ao Danilo Lanches</h2>
            <p class="animate__animated animate__fadeInUp">Desfrute dos melhores lanches da cidade, com ingredientes frescos e sabor inigualável. Faça seu pedido online agora mesmo!</p>
        </div>
    </div>
</div>

<div>
  <partial name="_Carousel"/>
</div>

<h2 class="text-center mt-5">Os preferidos dos nossos clientes</h2>
<h4 class="text-center mb-4">Confira os lanches mais pedidos pelos nossos clientes</h4>

<div class="container">
    <div class="row">
        @foreach (var lanche in Model.LanchesPreferidos)
        {
            <partial name="_LanchesResumo" for="@lanche" />
        }
    </div>
</div>