<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center my-4">
            <h2 class="animate__animated animate__fadeInDown">Bem-vindo ao Danilo Lanches</h2>
            <p class="animate__animated animate__fadeInUp">Desfrute dos melhores lanches da cidade, com ingredientes frescos e sabor inigualável. Faça seu pedido online agora mesmo!</p>
        </div>
    </div>
</div>

<div>
  <partial name="_Carousel"/>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center my-4">
            <h2>Categorias de Lanches</h2>
        </div>
    </div>
    <div class="row text-center my-4">
        <div class="col-md-4">
            <i class="fas fa-hamburger fa-3x animate__animated animate__zoomIn"></i>
            <h3 class="animate__animated animate__fadeIn">Hambúrgueres</h3>
        </div>
        <div class="col-md-4">
            <i class="fas fa-pizza-slice fa-3x animate__animated animate__zoomIn"></i>
            <h3 class="animate__animated animate__fadeIn">Pizzas</h3>
        </div>
        <div class="col-md-4">
            <i class="fas fa-hotdog fa-3x animate__animated animate__zoomIn"></i>
            <h3 class="animate__animated animate__fadeIn">Cachorros-quentes</h3>
        </div>
    </div>
</div>