<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="jumbotron">
                <h3>Queremos ouvir o que você tem a dizer</h3>
                <p>Se você tiver alguma dúvida ou sugestão, fale conosco</p>
                <div class="contact-info">
                    <div class="contact-item">
                        <i class="fas fa-envelope"></i>
                        <h5><email endereco="danilo.silva@msn.com" conteudo="Enviar um e-mail"></email></h5>
                    </div>
                    <div class="contact-item">
                        <i class="fas fa-phone-alt"></i>
                        <h5>(11) 9874-5566</h5>
                    </div>
                    <div class="contact-item">
                        <i class="fas fa-map-marker-alt"></i>
                        <h5>Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
